@import "tailwindcss";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ECEDEF;
}

#root {
  display: flex;
  min-height: 100vh;
  width: 100%;
}


@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade {
  animation: fade 0.2s ease-out;
}

.yearBtn {
  background: white;
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #aaa;
  font-weight: 500;
  transition: all 0.2s;
  outline: none;
}

.yearBtn:hover {
  background: #f0f0f0;
}

.active {
  background-color: #dcedc8;
  color: #2e7d32;
  border-color: #c5e1a5;
  font-weight: bold;
}