.link {
    padding: 1rem;
    border-radius: 8px;
    text-decoration: none;
    color: #4B5563;
    display: flex;
    gap: 10px;
    transition: background 0.2s, color 0.2s;
    align-items: center;
}

.link:hover {
    background-color: #f0f0f0;
}

.active {
    background-color: #2E522A;
    color: white;
    font-weight: bold;
}

.active:hover{
    background-color: #2E522A;
}