.active {
    background-color: #2E522A;
    color: white;
    border-color: #2E522A;
}

.customSelect {
    position: relative;
    width: 160px;
    font-size: 1.25rem;
}

.customSelect button {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    align-items: center;
    display: flex;
}

.customSelect button i {
    margin-left: auto;
}

.customSelect ul {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 6px 0;
    margin: 0;
    z-index: 1000;
}

.customSelect li {
    padding: 8px 12px;
    cursor: pointer;
}

.customSelect li:hover {
    background-color: #f0f0f0;
}

.activeOption {
    background-color: #2E522A;
    font-weight: 500;
    color: #ffff;
}
